*.bin filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
results/beauty_cq32.pkl filter=lfs diff=lfs merge=lfs -text
results/beauty_partition.bin filter=lfs diff=lfs merge=lfs -text
